!!!5
html
  head
    title Slimero
  body
    h1 Slime
    canvas(id="slimes", width="700", height="600")
      You need html5 canvas!
    script(src="/socket.io/socket.io.js")
    script
      //var socket = io.connect('http://localhost');
      var socket = io.connect('http://192.168.0.3');
    script(src="/js/slimesoccer.js")
    script
      var s = new SlimeSoccer('slimes');


